<app-admin-menu></app-admin-menu>
<ng-container>
    <main class="container-fluid py-4">
        <div class="all-users-box">
            <h2 class="text-center mb-2">All Users</h2>
            <p class="lead text-center mb-3">Manage all registered users in the system</p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Sr. No. </th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of Users, let i=index" >
                            <td>{{ i+1 }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.password }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary me-2" [routerLink]="['/edit-user',user.username]">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <button class="btn btn-sm btn-danger" (click)="deleteUser(user.username)" >
                                    <i class="bi bi-trash-fill"></i> Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</ng-container>
